@import "variables";

.nav-bar {
  background-color: $buttonColor;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-bar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: $headerColor;
}

.nav-bar__escape {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-bar__escape svg {
  fill: $buttonColor;
  width: 50px;
  height: 50px;
}

.nav-bar__escape line,
.nav-bar__escape circle {
  stroke-width: 1;
  stroke: $buttonHover;
}

.nav-bar__menu-btn {
  @include regularText();
  font-size: 20px;
  color: $buttonHover;
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.nav-bar__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 10px 10px;
  width: 100%;
  overflow: hidden;
  max-height: 1000px;
  transition: .5s ease;
}

.nav-bar__dropdown.hide {
  padding: 0;
  max-height: 0;
}

.nav-bar__link {
  text-align: center;
  font-size: 20px;
  color: $buttonHover;
  margin: 20px;
}

.nav-bar__search {
  font-family: inherit;
  margin-top: 20px;
  width: 100%;
  background-image: url("../assets/images/search.svg");
  background-position: 10px center;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid $buttonHover;
  font-size: 20px;
  @include regularText();
}

@media (min-width: 800px) {
  .nav-bar {
    flex-direction: row;
    background-color: $headerColor;
  }

  .nav-bar__menu {
    width: auto;
  }

  .nav-bar__menu-btn {
    display: none;
    background-color: transparent;
  }

  .nav-bar__dropdown {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .nav-bar__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }

  .nav-bar__search {
    max-width: 200px;
    margin: 0;
    font-size: 18px;
  }
}
