@import "variables";

* { box-sizing: border-box;}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: $fontStyle;
  background-color: #FFF;
}

.main {
  padding: 20px 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: $callToActionLight;
  padding: 20px 10px;
}

.header__title {
  font-weight: 300;
  text-transform: uppercase;
  color: $callToActionText;
  margin: 0;
}

.header__span {
  font-weight: 300;
  color: $highlight;
}

.header__username {
  font-size: 18px;
  margin: 0;
  color: #FFF;
}

.header__line {
  width: 25%;
  margin: 10px;
  border-width: 1px 0 0;
  border-color: $headerColor;
  border-style: solid;
}

/* Section */
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.section__title {
  margin-bottom: 5px;
  @include regularText();
}

.section__line {
  height: 1px;
  width: 25%;
  border-width: 1px 0 0;
  border-color: $headerColor;
  border-style: solid;
}

.view-link {
  background-color: $callToActionLight;
  display: block;
  margin: 40px 0;
  color: $callToActionText;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

@media (min-width: 500px) {
  .header,
  .main {
    padding: 20px 40px;
  }

  .view-link {
    width: 50%;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .header,
  .section__header {
    flex-direction: row;
  }

  .header__line {
    display: none;
  }

  .section__line {
    flex: 1;
  }

  .section__title {
    margin: 10px 40px 10px 0;
  }
}

@media (min-width: 700px) {
  .view-accordian {
    margin-top: 390px;
  }
}
